.variaveis {}

.bitIni {
    margin-bottom: 7px;
    margin-left: -25px;
}

.bitFinal {
    margin-bottom: 7px;
    margin-left: -25px;
}

.bits {
    display: flex;
}

.variavel {
    margin-right: -10%;
    margin-bottom: 7px;
    margin-left: -3%;
}